{{#each funds}}
<li id="{{this.Id.String}}" class="{{this.Name}}" onmousedown="itemClicked(this)">
    <div class="cursor-pointer bg-gray-200 rounded-md flex flex-1 items-center p-3 m-1 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:shadow-lg">
        <div class="flex-1 pl-1 mr-16">
            <div class="font-medium text-sm">{{this.Name}}</div>
            <div class="flex">
                {{#each tickers }}
                <div class="font-light text-xs pr-2">{{this}}</div>
                {{/each}}
            </div>
        </div>
    </div>
</li>
{{/each}}

<script>
    function itemClicked(item){
        console.log(item.id)
        console.log(item.className)

        const searchField = document.getElementById(item.parentNode.id.replace("result", "field"))
        searchField.value = item.className
    }
</script>