<div class="flex relative flex-col m-20 border-2 border-slate-800 p-2">
    <input class="text-2xl" type="text" placeholder="Portfolio name">
    <div id="row-container" class="flex flex-col"></div>
    <div class="cursor-pointer pl-40 pr-40 pt-1 pb-1 mt-3 border-solid border-2 rounded  border-slate-800 p-2 hover:bg-slate-100">
        Create portfolio
    </div>
</div>

<script>
    window.onload = (_) => {
        insertRow()
        insertRow()
    };

    function rowItemBlurred(item) {
        if (item.name === "searchTerm") {
            document.querySelectorAll('.funds-search-result').forEach(value => {
                value.innerHTML = ""
            })
        }
        if (document.getElementById("row-container").lastChild.childNodes[1].value){
            insertRow()
        }
    }

    function insertRow() {
        const container = document.getElementById("row-container")
        const containerRow = document.createElement("div")
        containerRow.className = "relative"
        const checkbox = '<input type="checkbox" onblur="rowItemBlurred(this)">'
        const nameOrTicker = '<input class="w-[30rem] text-sm" id="funds-search-field-'+ container.children.length +'" placeholder="Name or ticker" type="search" name="searchTerm" hx-post="/portfolios/search" hx-trigger="keyup changed delay:500ms, search" hx-target="#funds-search-result-'+ container.children.length + '" onBlur="rowItemBlurred(this)">'
        const amount = '<input class="w-20 text-sm" placeholder="Amount" onblur="rowItemBlurred(this)" type="text">'
        const ul = '<ul id="funds-search-result-'+ container.children.length + '" class="funds-search-result z-10 absolute top-10"></ul>'
        containerRow.innerHTML = checkbox + nameOrTicker + amount + ul
        container.appendChild(containerRow)
        htmx.process(containerRow)
    }

</script>

{{#each portfolioList}}
<div>test</div>

{{/each}}