<div>
    <div>
        <table>
            <thead>
            <tr>
                <th scope="col">
                    Product name
                </th>
                <th scope="col">
                    Color
                </th>
                <th scope="col">
                    Category
                </th>
                <th scope="col">
                    Price
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">
                    Apple MacBook Pro 17"
                </th>
                <td>
                    Silver
                </td>
                <td>
                    Laptop
                </td>
                <td>
                    $2999
                </td>
            </tr>
            <tr>
                <th scope="row">
                    Microsoft Surface Pro
                </th>
                <td>
                    White
                </td>
                <td>
                    Laptop PC
                </td>
                <td>
                    $1999
                </td>
            </tr>
            <tr>
                <th scope="row">
                    Magic Mouse 2
                </th>
                <td>
                    Black
                </td>
                <td>
                    Accessories
                </td>
                <td>
                    $99
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
{{#each portfolioList}}
<div>test</div>

{{/each}}
